# Ignore all HTML files by default
*.html

# Un-ignore only requested pages
!index.html
!about-us-light.html
!contact-us-light.html
!faq-light.html
!blog-light.html
!blog-details-light.html
!service-light.html
!service-details-booking-solutions.html
!service-details-influencer-marketing.html
!service-details-light.html
!service-details-performance-ads.html
!service-details-social-media.html
!service-details-travel-seo.html

# Dependencies & Build artifacts
node_modules/
.DS_Store
Thumbs.db
*.log
.env
.env.local
dist/
build/
.idea/
.vscode/
